<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书销售实时数据</title>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div id="title">图书销售数据可视化</div>
<div id="tim" class="time"></div>
<div id="l1"></div>
<div id="l2"></div>
<div id="c1">
    <div class="num"><h1></h1></div>
    <div class="num"><h1></h1></div>
    <div class="num"><h1></h1></div>
    <div class="num"><h1></h1></div>
    <div class="txt"><h2>总销售金额</h2></div>
    <div class="txt"><h2>总订单数量</h2></div>
    <div class="txt"><h2>总客户数量</h2></div>
    <div class="txt"><h2>处理速度</h2></div>
</div>
<div id="c2"></div>
<div id="r1"></div>
<div id="r2"></div>
<script src="../static/js/ec_center.js"></script>
<script src="../static/js/ec_left1.js"></script>
<script src="../static/js/ec_left2.js"></script>
<script src="../static/js/ec_right1.js"></script>
<script src="../static/js/ec_right2.js"></script>
<script src="../static/js/controller.js"></script>
</body>
</html>